<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLSV_Main.Properties.Settings.QLSVConnectionString"
            connectionString="Data Source=Soju;Initial Catalog=QLSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLSV_Main.Properties.Settings.QLTBConnectionString"
            connectionString="Data Source=DESKTOP-FRT6KCM;Initial Catalog=QLTB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
